html {
    height: 100%;
}

body {
    /*background-color: #8DBDED;*/
    background-image: url(bg1.jpg);
    background-repeat: repeat;
    height:100%;
}

.whitebg {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}

#wrap {
	min-height: 100%;
}

.content {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	overflow: auto;
}
